.avatar {
    content: url('../src/assets/imgs/avatar.png');
    width: 205px;
    height: 220px;
    margin-left: 120px;
}

.avatar:hover {
    content: url('../src/assets/imgs/avatar-shaked.png');
}
