.logo {
    transition: all 0.4s ease-in-out;
}

.logo:hover {
    opacity: 0.7;
    transform: rotate(10deg);
}

@media (max-width: 1200px) {
    .logo:hover {
        opacity: 1;
        transform: none;
    }
}
